body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin: 40px;
}


table {
    width: 100%;
    background-color: white;
   
}


thead th {
    background-color: #1d3557;
    color: white;
    padding: 15px;
}

tbody td {
    
    text-align: center;
}

tfoot {
    background-color: #1d3557;
    color: #ffffff
}

tr:hover {
    background-color: #f1f5f9;
}
